footer {
    border-top: 1px solid #c6cbcd;
    background-color: #f8f8f8;
    padding: 16px;

    & p {
        font-family: Raleway;
        font-weight: 700;
        font-size: 13px;
        line-height: 100%;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
    }
}