header {
	width: 100%;
	min-height: 56px;
	background-color: transparent;
	position: fixed;
	top: 0;
	z-index: 1000;

	&:has(>.container>.header>#burger-toggle:checked) {
		background-image: linear-gradient(rgba(233, 130, 131, 0.9), rgba(237, 215, 137, 0.8)), url(../../images/hero-bg.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		height: 100%;
	}

}


.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 22px 16px;

	&__nav {
		padding: 30px;
		display: none;
	}

	&__menu-list {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
		overflow: hidden;
	}

	&__menu-item {
		&_closed-mobile {
			display: none;
		}
	}

	& a {
		color: #fff;
		text-transform: uppercase;
		font-family: Raleway;
		font-weight: 700;
		font-size: 13px;
		line-height: 100%;
		text-align: center;
		vertical-align: middle;
		text-transform: uppercase;

		&:hover {
			color: #f4bf87;

			&>svg>path {
				fill: #f4bf87;
			}
		}

		&:active {
			color: #f4bf87;
			border-bottom: 1px solid #f4bf87;
		}
	}

	&__label {
		position: relative;
		display: block;
		height: 25px;
		width: 30px;
		order: 1;
	}

	&__label::after,
	&__label::before,
	&__label span {
		position: absolute;
		width: 100%;
		height: 3px;
		background-color: white;
		transition: .3s;
	}

	&__label::before {
		content: "";
		top: 0;
	}

	&__label::after {
		content: "";
		bottom: 0;
	}

	&__label span {
		top: 11px;
	}
}

#burger-toggle {
	display: none;

	&:checked~header {
		background-color: #fff;
	}

	&:checked~.header__nav {
		display: block;
		text-align: center;
	}

	&:checked~.header__label {
		span {
			transform: rotate(45deg);
			top: 10px;
		}

		&::after {
			background: transparent;
		}

		&::before {
			transform: rotate(-45deg);
			top: 10px;
		}
	}
}

@media (min-width: 768px) {
	#burger-toggle {
		display: none;
	}

	.header {
		&__nav {
			display: block;
			padding: 0;
		}

		&__label {
			display: none;
		}

		&__menu-list {
			flex-direction: row;
			padding: 0;
			column-gap: 20px;
		}

		& ul {
			width: fit-content;
			position: static;
		}

		&__menu-item {
			font-size: 14px;

			&_closed-mobile {
				display: block;
			}
		}
	}
}