.hero {
    background-image: linear-gradient(rgba(233, 130, 131, 0.9), rgba(237, 215, 137, 0.8)), url(../../images/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;

    &__block {
        padding: 90px 16px;
        text-align: center;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 36px;
        line-height: 100%;
        text-align: center;
        vertical-align: middle;
        margin-bottom: 60px;
    }

    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
        margin-bottom: 60px;
    }

    &__btn {
        width: 100%;
        text-align: center;
        border: 4px solid #fff;
        background-color: transparent;
        font-family: "Raleway";
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        vertical-align: middle;
        text-transform: uppercase;
        color: #fff;
        padding: 10px 0;
        margin: 0 auto;

        &:hover {
            color: #e4be8d;
            background-color: #fff;
        }

        &:active {
            border: 4px solid #e4be8d;
            color: #e4be8d;
            background-color: #fff;
        }
    }
}

@media (min-width: 768px) {
    .hero {
        &__title {
            font-size: 96px;
        }

        &__subtitle {
            font-size: 48px;
        }

        &__btn {
            width: 318px;
        }
    }
}

@media (min-width: 1440px) {
    .hero {
        &__title {
            font-size: 144px;
        }

        &__subtitle {
            font-size: 64px;
        }

        &__btn {
            width: 370px;
        }
    }
}