.icons {
    padding: 28px 16px;
    background-color: #f8f8f8;

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(4, 86px);
        text-align: center;
    }

    &__item-3 {
        grid-column: 1/ span 2;
        grid-row: 2;
    }

    &__item-6 {
        grid-column: 1/ span 2;
        grid-row: 4;
    }
}



@media (min-width: 768px) {
    .icons {
        &__list {
            display: flex;
            justify-content: space-between;
        }

        &__item-1 {
            order: 1;
        }

        &__item-2 {
            order: 2;
        }

        &__item-3 {
            order: 5;
        }

        &__item-4 {
            order: 4;
        }

        &__item-5 {
            order: 3;
        }

        &__item-6 {
            order: 6;
        }
    }
}



@media (min-width: 1440px) {
    .icons__item svg {
            width: 128px;
            height: 128px;  
        }
}