.team {
    padding: 60px 16px;

    &__subtitle {
        margin-bottom: 40px;
    }

    &__title {
        margin-bottom: 40px;
    }

    &__description {
        margin-bottom: 30px;
    }

    &__links {
        display: flex;
        column-gap: 1px;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 4px;
        right: 0;


        & div {
            background-color: #f9efcf;

            &:first-child {
                background-color: #f38281;
            }
        }

    }

    &__link {
        width: 42px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item-title {
        margin-bottom: 20px;
    }

    &__item-desc {
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    &__list {
        height: 100%;
    }

    &__image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 20px;
        position: relative;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__item {
        &-title {
            text-align: center;
        }

        &-desc {
            text-align: center;
        }
    }
}


@media (min-width: 768px) {
    .team {
        &__list {
            display: flex;
            column-gap: 20px;
        }

        &__item {
            width: 318px;
            // height: 360px;

            &-title {
                text-align: center;
            }

            &-desc {
                text-align: center;
            }
        }

        &__links {
            position: absolute;
            bottom: 10px;
            right: 5px;
            width: 100%;
            height: 100%;
            background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
            opacity: 0;
            transition: opacity .3s linear;
        }

        &__image:hover &__links {
            opacity: 1;
        }
    }
}



@media (min-width: 1440px) {
    .team {
        &__description {
            font-size: 18px;
        }

        &__list {
            justify-content: space-between;
        }

        &__item {
            width: 450px;
        }

        &__links {
            position: absolute;
            bottom: 20px;
            right: 20px;
        }
    }
}